# Web 框架
fastapi
uvicorn[standard]
# python-multipart

# AI 模型
openai
# llama-cpp-python
langchain_ollama

# 并行处理
# concurrent-log-handler
# ray>=2.5.0  # 可选，用于分布式计算

# NLP 工具
# nltk
# transformers>=4.30.0  # 可选，用于更高级的 NLP 任务
# sentence-transformers>=2.2.2  # 可选，用于文本嵌入

# 数据处理
pydantic_settings
# python-dotenv

# 知识图谱
# networkx
